<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="customers">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %marker %m %X %ex %n"/>
        </Console>
        <Socket name="logstash" host="34c288d8-55e5-460f-ad54-8e8cc05a0f0e-ls.logit.io" port="18095">
            <JSONLayout complete="false" compact="true" eventEol="true" charset="UTF-8" properties="true"/>
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="console" level="info"/>
            <AppenderRef ref="logstash" level="trace"/>
        </Root>
        
    </Loggers>
</Configuration>